body {
    font-family: 'Quicksand', sans-serif;
}
/* navbar */
.custom-navbar {
    padding: 20px;
}
.custom-navbar h4 {
    font-size: 1.5rem;
    font-weight: 700;
}
.custom-navbar h5 {
    font-weight: 600;
    padding-right:10px;
}
.custom-button-signin {
    border: none;
    background-color: #1A508B;
    border-radius: 35px;
}
.custom-button-signin h5 {
    padding: 0px 20px;
    margin-top: -3px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #f3f3f3;
}

/* jumbotron */
.custom-jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}
.custom-heading-jumbotron {
    display: flex;
    align-items: center;
    /* margin-top: 20px; */
}
.custom-button-jumbotron {
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 25px;
    border: none;
    background-color: #1A508B;
    border-radius: 10px;
}
.custom-button-jumbotron h5{
    color: #f3f3f3;
    font-weight: 600;
}
/* partner */
.custom-partner {
    background-color: #F3F3F3;
    padding: 55px 0px;
}
.custom-card-partner {
    text-align:center;
}
.custom-card-partner h2{
     font-weight: 700;
    color: #c9c8c8;
}

/* write story */
.custom-write-story {
    padding: 65px 0px;
}
.custom-write-story h1{
    text-align: center;
    font-weight: 700;
    color: #214151;
    padding-bottom: 20px;
}
.custom-img {
    border-radius: 15px;
    min-height: 270px;
}
.custom-write-story .custom-card {
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #c7c7c7;
}
.custom-write-story .custom-card:hover {
    cursor: pointer;
}
.custom-write-story .card-title {
    padding: 10px 0px;
    font-weight: 700;
    color: #214151;
}
.custom-bullet {
    display: flex;
    align-items: center;
}

/* benefit */
.custom-benefit {
    background-color: #f3f3f3;
    padding: 65px 0px;
    color: #214151;
}
.custom-benefit .custom-card{
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #c7c7c7;
}
.custom-benefit .custom-button{
    display: flex;
    position:absolute;
    padding-top:  20px;
    padding-bottom: 10px;
    padding-left: 25px;
    text-align: center;
    
}
.custom-benefit h1{
    font-weight: 600;
}
.custom-benefit .custom-card-body{
    margin-left: 70px;
}
.custom-benefit h5 {
    font-weight: 700;
}
/* footer */
.custom-footer .message {
    text-align: left;
}
.custom-footer .message:hover {
    cursor: pointer;
    
}
